In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [2]:
df=pd.read_csv('taxi.csv')

In [3]:
df.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [4]:
df.isnull().sum().sum()

0

In [5]:
#split data set
X=df.iloc[:,0:-1].values
y=df.iloc[:,-1].values

In [6]:
print(y)

[192000 190400 191200 177600 176800 178400 180800 175200 174400 173920
 172800 163200 161600 161600 160800 159200 148800 115696 147200 150400
 152000 136000 126240 123888 126080 151680 152800]

In [7]:
#train and test split
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=51)
print("x_train",x_train)
print("x_test",x_test)
print("y_train",y_train)
print("y_test",y_test)

x_train [[     25 1725000    8200      75]
 [     25 1778000    6500      60]
 [     40 1695000   11600     100]
 [     25 1750000    6550      60]
 [     40 1630000   11830     105]
 [    102 1635000   13000     110]
 [     40 1695000   11330      85]
 [     75 1630000   13224     125]
 [     40 1690000   11800     105]
 [     86 1590000   15000     165]
 [     98 1595000   15200     175]
 [     75 1615000   14010     150]
 [     65 1640000   12650     105]
 [     63 1610000   16200     200]
 [     30 1705000    9200      80]
 [     15 1800000    5800      50]
 [     25 1740000    6580      70]
 [     77 1600000   16000     190]]
x_test [[     30 1725000    8600      75]
 [     30 1710000    9630      80]
 [     87 1590000   15600     175]
 [     30 1720000    8800      75]
 [     80 1605000   14468     155]
 [     15 1790000    6200      50]
 [     75 1620000   13766     130]
 [     15 1780000    6400      60]
 [     40 1700000   10570      80]]
y_train [180800 177600 161600 176800 159200 115696 161600 147200 160800 126240
 123888 152000 148800 152800 173920 192000 178400 151680]
y_test [175200 172800 126080 174400 136000 190400 150400 191200 163200]

In [9]:
#model building
from sklearn.linear_model import LinearRegression

In [10]:
reg=LinearRegression()
reg.fit(x_train,y_train)
print("Train score",reg.score(x_train,y_train))
print("test score",reg.score(x_test,y_test))

Train score 0.9426575435427671
test score 0.9410349854698726

In [11]:
pickle.dump(reg,open("mlr.pkl","wb"))
model=pickle.load(open("mlr.pkl","rb"))

In [12]:
print(model.predict([[80,170000,6000,85]]))

[75700.13452864]